{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 font-weight-bold">Update Goal</legend>
      <div class="form-group">
        {{ form.title.label(class="form-control-label font-weight-bold") }}
        {% if form.title.errors %}
        {{ form.title(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.content.label(class="form-control-label font-weight-bold") }}
        {% if form.content.errors %}
        {{ form.content(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.content(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.measure_success.label(class="form-control-label font-weight-bold") }}
        {% if form.measure_success.errors %}
        {{ form.measure_success(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.measure_success.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.measure_success(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.six_month.label(class="form-control-label font-weight-bold") }}
        {% if form.six_month.errors %}
        {{ form.six_month(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.six_month.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.six_month(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.three_month.label(class="form-control-label font-weight-bold") }}
        {% if form.three_month.errors %}
        {{ form.three_month(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.three_month.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.three_month(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.one_month.label(class="form-control-label font-weight-bold") }}
        {% if form.one_month.errors %}
        {{ form.one_month(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.one_month.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.one_month(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.notes.label(class="form-control-label font-weight-bold") }}
        {% if form.notes.errors %}
        {{ form.notes(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.notes.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.notes(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-info") }}
    </div>
  </form>
  {% endblock content %}
